@model ZJUCoursera1.DAL.Course

@{
    ViewBag.Title = "删除课程";
}

<h2>删除</h2>

<h3>你确定要删除吗？</h3>
<div>
    <h4>课程</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject.Subject1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Subject1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weekday.Weekday1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weekday.Weekday1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
