@model ZJUCoursera1.DAL.SC

@{
    ViewBag.Title = "选课信息";
}

<h2>细节信息</h2>

<div>
    <h4>选课</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
